/****************************
 *     GENERAL SETTINGS     *
 ****************************/

* {
    font-family: sans-serif;
}

/*****************
 *     RESET     *
 *****************/

html, body {
 margin:0;
 padding:0;
 }


/*******************
 *     Nav bar     *
 *******************/

nav ul {
	padding:0px;
	margin:0px;
	list-style-type:none;
	background-color:#444444;
}

nav li {
	display:inline-block;
    float: left;
	width:100px;
	height:48px;
	margin:0px;
	padding:0px;
	border-right:0px solid #bcbcbc;
	text-align:center;
	line-height:48px;
}

nav li a {
	display:block;
  text-decoration:none;
	color:#FFFFFF;
}

nav li a:hover {
	color:#FFFFFF;
	background-color:#d70087;
}

nav li a.selected {
	color:#d70087;
}

nav li a.selected:hover {
	color:#444444;
}

/******************
 *     Titles     *
 ******************/

/*h1 {
}*/

/****************
 *     Text     *
 ****************/

/*p {
}*/


/*******************
 *     Classes     *
 *******************/

.container {
    margin: 0% 10%;
}

nav li div.spacer {
    display: block;
    height: 48px;
    width: 100%;
	text-align:center;
	line-height:48px;
}
