/*****************
 *     RESET     *
 *****************/

html, body {
 margin:0;
 padding:0;
 }


/*******************
 *     Nav bar     *
 *******************/

nav ul{
	padding:0px;
	margin:0px;
	list-style-type:none;
	background-color:#444444;
}

nav li{
	display:inline-block;
	width:100px;
	height:48px;
	margin:0px;
	padding:0px;
	border-right:0px solid #bcbcbc;
	text-align:center;
    text-decoration:none;
	line-height:48px;
}

nav li :hover{
	background-color:#d70087;
}

nav li a{
	display:block;
	color:#FFFFFF;
}

nav li a :active{
	color:#d70087;
}

/******************
 *     Titles     *
 ******************/

/*h1 {
}*/

/****************
 *     Text     *
 ****************/

/*p {
}*/

#selected {
    color:#d70087;
}

/*******************
 *     Classes     *
 *******************/

.container {
    width:80%;
    align-content:center;
}
