/****************************
 *     GENERAL SETTINGS     *
 ****************************/

* {
    font-family: sans-serif;
}


/*****************
 *     RESET     *
 *****************/

html, body {
 margin:0;
 padding:0;
 }

body {
    background-color: #ffffff;
}

/*******************
 *     Nav bar     *
 *******************/

/* Nav-bar properties */
nav {
    display: inline-flex;
    width: 100%;
    height: 100%;
	padding:24px 0px;
	margin:0px;
    line-height: auto;
    text-align: center;
	background-color:#222222;
    border-bottom: solid;
    border-bottom-color: #d70087;
    border-bottom-width: 1px;
}

/* Menu ul properties */
ul {
    display: inline-flex;
    list-style-type:none;
    height: 100%;
    margin:0px;
	padding:0px;
}

/* Menu list properties */
li { 
    display: flex;
    height: 100%;
    margin:0px;
    padding:0px;
}

a {
    width:120px;
	height:100%;
	margin:0px 5px;
	padding:8px 10px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color:#222222;
    color:#bcbcbc;
    text-decoration:none;
    
}

/* Menu animations */
li a:hover { color:#ffffff; background-color:#222222; border-color:#ffffff }
li a.selected { color:#d70087; background-color:#222222; border-color:#d70087 }
li a.selected:hover { color:#ffffff; background-color:#222222; border-color:#ffffff }
li a.home {
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 30px;
    color:#d70087;
    border:none;
}
li a.home:hover { color:#ffffff }

img.logo-home {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

/******************
 *     Titles     *
 ******************/


/****************
 *     Text     *
 ****************/

article {
    background-color: #eeeeee;
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color:#bcbcbc;
}

/*******************
 *     Classes     *
 *******************/

/* container */
.container { margin: 0% 20% }

/* Nav-bar */
.nav-home { flex-grow: 1 }
.nav-spacer { flex-grow: 3 }
.nav-menu { flex-grow: 0.5 }
